<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
    <title>Lista de Eventos</title>
    <link href="styles/bootstrap.css" rel="stylesheet" />
    <link href="styles/bootstrap-theme.css" rel="stylesheet" />
    <style>
        
    </style>
</head>
<body>
    <div class="panel" ng-controller="sampleCtrl">
        <div class="well">
            <form name="formu" novalidate ng-submit="agregar(usuario)">
                <div class="well">
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input type="text" name="nombre" required class="form-control" ng-model="usuario.nombre" />
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="email" name="email" required class="form-control" ng-model="usuario.email" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="politica" required class="checkbox" ng-model="usuario.politica" />
                            Acepto términos y condiciones
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" ng-disabled="formu.$invalid">Enviar</button>
            </form>
        </div>
        <div class="well">
            Mensaje: {{mensaje}}
            <div>
                Válido: {{formu.$valid}}
            </div>
        </div>
    </div>


    <script src="scripts/angular.js"></script>
    <script>
        angular.module("sampleApp", [])
             .controller("sampleCtrl", function ($scope) {

               $scope.agregar = function (nuevo) {
                   $scope.mensaje = nuevo.nombre + "(" + nuevo.email + ")" + nuevo.politica;
               };

               $scope.mensaje = "Listo";
                
        });
    </script>
</body>
</html>
